<div *ngIf="isLoading" class="loader"></div>
<div *ngIf="isError"class="error">Something went wrong, please refresh to try again</div>

<div *ngIf="!isLoading && !isError" class="star-wars-app">
  <div class="global-title">
      Welcome To the World Of Star Wars!!!!!!
    </div>

    <hr>
    <div class="resource-header">People</div>
    <div class="resource-section">
      <div *ngFor="let person of people" class="resource">
          <span>Name: {{ person.name }}</span>
          <span>Birth Year: {{ person.birth_year }}</span>
          <span>Eye Color: {{ person.eye_color }}</span>
          <span>Hair Color: {{ person.hair_color }}</span>
          <span>Gender: {{ person.gender }}</span>
      </div>
    </div>

    <hr>
    <div class="resource-header">Planets</div>
    <div class="resource-section">
      <div *ngFor="let planet of planets" class="resource">
          <span>Name: {{ planet.name }}</span>
          <span>Diameter: {{ planet.diameter }}</span>
          <span>Rotation Period: {{ planet.rotation_period }}</span>
          <span>Orbital Period: {{ planet.orbital_period }}</span>
          <span>Gravity: {{ planet.gravity }}</span>
      </div>
    </div>

    <hr>
    <div class="resource-header">Films</div>
    <div class="resource-section">
      <div *ngFor="let film of films" class="resource">
          <span>Title: {{ film.title }}</span>
          <span>Episode ID: {{ film.episode_id }}</span>
          <span>Producer: {{ film.producer }}</span>
          <span>Director: {{ film.director }}</span>
          <span>Release Date: {{ film.release_date }}</span>
      </div>
    </div>

    <hr>
    <div class="resource-header">Species</div>
    <div class="resource-section">
      <div *ngFor="let specimen of species" class="resource">
          <span>Name: {{ specimen.name }}</span>
          <span>Classification: {{ specimen.classification }}</span>
          <span>Average Height: {{ specimen.average_height }}</span>
          <span>Language: {{ specimen.language }}</span>
          <span>Hair Colors: {{ specimen.hair_colors }}</span>
      </div>
    </div>

    <hr>
    <div class="resource-header">Vehicles</div>
    <div class="resource-section">
      <div *ngFor="let vehicle of vehicles" class="resource">
          <span>Name: {{ vehicle.name }}</span>
          <span>Model: {{ vehicle.model }}</span>
          <span>Vehicle Class: {{ vehicle.vehicle_class }}</span>
          <span>Manufacturer: {{ vehicle.manufacturer }}</span>
          <span>Cost In Credits: {{ vehicle.cost_in_credits }}</span>
      </div>
    </div>

    <hr>
    <div class="resource-header">Starships</div>
    <div class="resource-section">
      <div *ngFor="let starship of starships" class="resource">
          <span>Name: {{ starship.name }}</span>
          <span>Model: {{ starship.model }}</span>
          <span>Starship Class: {{ starship.starship_class }}</span>
          <span>Manufacturer: {{ starship.manufacturer }}</span>
          <span>Cost In Credits: {{ starship.cost_in_credits }}</span>
      </div>
    </div>
</div>
